*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}
.navbar{
    background-color:black;
    width: 100%;
    position:fixed;
    height: 11vh;
}
.frank{
    justify-content: space-between;
    font-size:45px;
    font-style: italic;
    margin-left: 30px;
    color:gold;
}
.david{
    text-align: center;
}
.she{
    color:white;
    text-decoration: none;
    padding: 25px;
    font-size:21px;
} 
.sh{
    color:gold;
    text-decoration: none;
    font-size:22px;
    text-decoration:underline;
    border-radius: 20px;
    padding: 10px 10px;
}
.she:hover{
    text-decoration: underline;
    height: 4px;
    color: gold;
}
.stacy{
    justify-content: space-between;
    display: flex;
    margin-bottom: 70px;
}
.fa-brands{
    color: #ccc;
}
.he{
    color:#ccc;
    background-color: #191919;
    padding: px;
    border: 3px solid #fee800;
    margin-left: 250px;
    font-size:15px;
    width: 110px;
    height: 50px;
    color: #ccc;
    border-radius: 30px;
}
.though{
    color: white;
    margin-left:65px;
    display: flex;
    
}
.those-one{
    margin-bottom: 100px;
}
.though-three{
    margin-top: 230px;
}
.though-two{
    width: 1000px;
    height:800px;
}
.though h3{
    font-size:30px;
    font-style: italic;
}
.though h4{
    font-size: 42px;
    font-style: italic;
}
.though h1{
    font-style: italic;
    font-size: 45px;
    color: gold;
}
.whe{
    border: 3px solid gold;
    width:110px;
    height: 50px;
    background-color:black;
    border-radius: 30px;
    margin-right:50px;
    margin-top: 40px;
    color:#ccc;

}
.img-text {
    display: flex;
    margin-top: 100px;
    align-items: center;
    background-color:#191919;
    height: 90vh;

     
}
.head-text {
    margin-top: auto;
    margin-bottom: auto;
}
.hey{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 100px;
    height: 70px;
    
}
.image{
    display: flex;
    height: 550px;
    width: 320px;
    container: 20px;
    padding: 10px 10px;
    margin-left:100px;
    border-radius: 20px;
}

.article{
    text-align: center;  
    height: 500px;
    width: 500px;
    margin-left: 150px;
    
}
.article h1{
    font-size:40px;
    color:gold;
}
.article h2{
    font-size:35px;
    font-style: italic;
    color:rgb(70,70,70);
}
.article p{
    align-items: center;
    font-size: 20px;
    font-style: italic;
    color:rgb(70,70,70);
}
.head{
    display: flex;
    color: white;
}
.nose{
    background-color: rgb(19, 19, 19);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height:200px;
    border-radius: 50px;
    border: 1px solid;
    
}
.nose:hover{
    width: 400px;
    height:220px;
    border: 2px solid gold;
    padding: 5px 5px;
    
}
.nose h3{
    font-size:22px;
    color: #ccc;
}
.nose p{
    font-size:17px;
    font-style: italic;
    color: #ccc;
}
.nose h4{
    color:gold;
    font-size: 20px;
}
.explore{
    color:gold;
    margin-bottom: 50px;
    margin-left: 700px;
    font-size: 35px;
    text-decoration: underline;
    padding: 20px 20px;
    justify-content: center;
}
.those{
    display: flex;
    justify-content:space-between;
}
.those h1{
    font-size:25px;
    color:gold;
    font-style: italic;
}
.those p{
    font-size:25px;
    color: #ccc;
    font-style: italic;
    
}
.those-one{
    background-color: rgb(19, 19, 19);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height:40px;
    border-radius: 20px;
    border: 1px solid #ccc
}
.contact{
    text-align: center;
    background-color:rgb(70,70,70);
    height: 200px;
    width: 500px;
    margin-left: 420px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 3px solid black;
    height: 40vh;
}
.contact h1{
    font-size:40px;
}
.contact p{
    font-size:20px
}
.whed{
    border:7px solid gold;
    background-color:black;
    padding: 10px 10px;
    border-radius:30px;
    width: 100px;
    height:70px;
    color: #ccc;
    margin-top: 20px;
}
.imagine{
    display: flex;
    width: 100%;
    height: 72vh;
    padding:10px 10px;
    align-items: center;
}
.image-3{
    width: 330px;
    height:330px;
    display: flex;
    padding: 8px 8px;
    border-radius:50%;
    margin-left: 60px;
}
.imagine-one{
    padding: 10px 10px;
    align-items: center;
}
.explore-two{
    font-size:45px;
    color: gold;
    margin-left: 480px;
    margin-bottom: 40px;
    font-style: italic;
}
.imagine-one h1{
    color: gold;
    margin-left:140px;
    padding: 10px 10px;
    margin-bottom:100px;
}
.laptop{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:15vh;
    background:black;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
}
 svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
 svg circle{
    width: 100%;
    height: 100%;
    fill:transparent;
    stroke-width:5;
    stroke: #191919;
    transform: translate(5px,5px);
}
svg circle:nth-child(2){
    stroke:var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset:calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 0.8s linear forwards;
    animation-delay: 2s;
}

@keyframes fadeIn 
{
    0%
    {
      opacity: 0;
    }
    100%
    {
        opacity:1;
    }
}
.dot{
    position:absolute;
    inset: 5px;
    z-index: 10;
    /* 360deg / 100 = 3.6 */
    animation: animateDot 1.5s linear forwards;
}
@keyframes animateDot {
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content:"";
    position:absolute;
    top:-5px;
    left:50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}
.number{
    position:absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
}

.number h2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight:700;
    font-weight: 2.5em;
}
.number h2 span{
    font-weight:300;
    color: #fff;
    font-size: 0.5em;
}
.number p{
    font-weight:300px;
    font-size: 0.75em;
    letter-spacing:2px;
    margin-top: 10px;
    color:rgba(255, 255,255,0.75);
    
}

.posible-image3{
    width: 400px;
    height:1500px; 
}
.posible-image4{
    width: 400px;
    height:1500px;
}
.posible-image5{
    width: 600px;
    height:1500px;
}
.post{
    font-size:50px;
    color: gold;
    margin-left: 600px;
    margin-bottom: 40px;
    font-style: italic;
}
.possible{
    display: flex;
    gap: 15px;
}
.modal{
    display: flex;
    gap: 15px;
}
.posible-image6{
   width: 500px;
   height: 800px;
}
.posible-image{
    width: 500px;
    height: 1000px;
}
.posible-image7{
   width: 500px;
   height: 800px;
}

.fa-facebook{
    color: blue;
    gap: 15px;
    font-size: 30px;
}
.fa-x-twitter{
    gap: 15px;
    font-size: 30px;
}
.fa-youtube{
    color:red;
    gap: 15px;
    font-size:30px;
}
.fa-person-military-pointing{
    color:blue;
    padding:20px;
    font-size:35px;
}
.fa-chart-simple{
    color:blue;
    padding:20px;
    font-size:35px;
}
.fa-user{
    color:blue;
    padding: 18px;
    font-size:35px;
}
.fa-html5{
    color:green;
    padding:10px;
    font-size: 32px;
}

.fa-css3{
    color:#ff00be;
    padding:10px;
    font-size: 32px;
}

.fa-js{
    color:#fee800;
    padding:10px;
    font-size: 32px;
}

.fa-python{
    color:#06ccff;
    padding:10px;
    font-size: 32px;
}

footer{
    width: 100%;
    background: linear-gradient(to right,#06ccff,#ff00be,#fee800);
    color: #fff;
    padding:100px 0 30px;
    font-size: 13px;
    line-height: 20px;
    border-radius: 30px;
}
.footer-wrapper{
    margin-left: 620px;
    margin-bottom: 20px;
    gap: 20px;
}
.footer-copyright{
    display: flex;
    margin-left: 580px;
}
.footer-one{
    color: #fff;
    font-size:25px;
    margin-right: 10px;
}
.bingo{
    text-decoration: none;
    color: #fff;
}

.footer-two{
    color: #fff;
    font-size:25px;
    margin-left:10px;
}
hr{
    width:60%;
    justify-content: center;
    margin-left: 260px; 
}
.below{
    margin-left: 550px;
}
.bold{
    text-decoration: none;
    font-size:17px ;
}
.text{
    margin-left:40px;
    font-size:15px;
    color:#ccc;
}